<!-- partial:../../partials/_sidebar.html -->
<ul class="nav">
    <li class="nav-item nav-profile">
        <div class="nav-link">
            <div class="profile-image">
                <img src="assets/melody/images/faces/face5.jpg" alt="image" />
            </div>
            <div class="profile-name">
                <p class="name">
                    Welcome Jane
                </p>
                <p class="designation">
                    Super Admin
                </p>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../../index-2.html">
            <i class="fa fa-home menu-icon"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
</ul>
<!-- partial -->