<ul class="nav">
  <li class="nav-item nav-profile">
    <div class="nav-link">
      <div class="profile-image">
        <img src="assets/melody/images/faces/face5.jpg" alt="image" />
      </div>
      <div class="profile-name">
        <p class="name">
          {{userData?.fullName ?? ""}}
        </p>
        <p class="designation">
          {{userData?.roles?.[0] ?? ""}}
        </p>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']">
      <i class="fa fa-home menu-icon"></i>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item d-none d-lg-block">
    <a class="nav-link" data-toggle="collapse" href="#sidebar-persons" aria-expanded="false"
      aria-controls="sidebar-persons">
      <i class="fas fa-user menu-icon"></i>
      <span class="menu-title">Personas</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="sidebar-persons">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/thirds']">Crear Persona</a></li>
      </ul>
    </div>
  </li>
</ul>